.sidebar {
  --bg-sidebar-menu: #fafbfd;
  --bg-sidebar-sub-sub-menu: #f2f3fc;
  --border-sidebar: #d6d6d6;
  --item-text: #333333;
  --item-text-selected-sidebar-menu: #ffffff;
  --item-bg-selected-sidebar-menu: #ec111a;
  --item-bg-selected-sidebar-sub-menu: #f2f3fc;
  --item-bg-selected-sidebar-sub-sub-menu: #d7d1eb;

  width: 353px;
  height: 100%;
  display: none;
  padding: 20px 0px 20px 25px;
  background-color: var(--bg-sidebar-menu);
  border-right: 1px solid var(--border-sidebar);
  transition: 400ms;
  overflow: hidden;
  color: var(--item-text);
  user-select: none;
  position: absolute;
  top: 60px;
  left: 0;
}

.sidebar.close {
  padding: 20px 0 20px 10px;
  width: 62px;
}

.sidebar.close > .menu > .menu-item > .sub-sidebar {
  left: calc(62px - 0px);
}

.sidebar.close > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar {
  left: calc(62px + 275px - 0px);
}

.sidebar > .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar > .menu > .menu-item {
  width: 100%;
  height: 50px;
  list-style: none;
  transition: 200ms;
  cursor: pointer;
}

.sidebar > .menu > .menu-item:first-child {
  display: none;
}

.sidebar > .menu > .menu-item > .wrapper {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

:is(
  .sidebar > .menu > .menu-item:not(:first-child):hover,
  .sidebar > .menu > .menu-item:not(:first-child):active
) > .wrapper {
  color: var(--item-text-selected-sidebar-menu);
  background-color: var(--item-bg-selected-sidebar-menu);
}

.sidebar > .menu > .menu-item > .wrapper > .back-arrow {
  width: 18px;
  height: 18px;
}

.sidebar > .menu > .menu-item > .wrapper > .rotate {
  transform: rotate(180deg);
}

.sidebar > .menu > .menu-item > .wrapper > .icon {
  width: 24px;
  height: 24px;
}

.sidebar > .menu > .menu-item > .wrapper > .arrow {
  width: 12px;
  height: 12px;
}

:is(
  .sidebar > .menu > .menu-item:not(:first-child):hover,
  .sidebar > .menu > .menu-item:not(:first-child):active
) > .wrapper > :where(.icon, .arrow) {
  filter: invert(99%) sepia(3%) saturate(772%) hue-rotate(283deg) brightness(121%) contrast(100%);
}

.sidebar > .menu > .menu-item > .wrapper > .context {
  width: 70%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.sidebar > .menu > .menu-item > .wrapper > .context > .title {
  font-size: 14px;
  line-height: 21px;
  align-self: center;
}

.sidebar > .menu > .menu-item > .wrapper > .context > .badge {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  align-self: flex-start;
}

:is(
  .sidebar > .menu > .menu-item:not(:first-child):hover,
  .sidebar > .menu > .menu-item:not(:first-child):active
) > .wrapper > .context > .badge {
  color: var(--item-text-selected-sidebar-menu) !important;
}

.sidebar > .menu > .menu-item > .sub-sidebar {
  display: none;
  width: 353px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 60px;
  cursor: default;
  background-color: var(--bg-sidebar-menu);
  border-right: 1px solid var(--border-sidebar);
  color: var(--item-text);
  padding: 24px 0 0 18px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

/* Muestra el sub menu al hacer hover sobre un item del menu principal */
.sidebar > .menu > .menu-item:hover > .sub-sidebar {
  display: block;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 18px 25px 0;
  border-bottom: 1px solid var(--border-sidebar);
}

.sidebar > .menu > .menu-item > .sub-sidebar > .wrapper > .title {
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item {
  width: 100%;
  height: 50px;
  list-style: none;
  transition: 200ms;
  cursor: pointer;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper > .arrow {
  width: 12px;
  height: 12px;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper > .context {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper > .context > .title {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  align-self: center;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper > .context > .badge {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  align-self: flex-start;
}

:is(
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:hover,
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:active
) > .wrapper {
  background-color: var(--item-bg-selected-sidebar-sub-menu);
}

:is(
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:hover,
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:active
) > .wrapper > .context > :where(.title, .badge){
  font-weight: 400;
  transition: font-weight 0s ease;
  color: var(--item-text) !important;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar {
  display: none;
  width: 353px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 60px;
  cursor: default;
  background-color: var(--item-bg-selected-sidebar-sub-menu);
  border-right: 1px solid var(--border-sidebar);
  color: var(--item-text);
  padding: 24px 0 0 18px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

/* Muestra el sub sub menu al hacer hover sobre un item del sub menu */
/* .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:hover > .sub-sub-sidebar {
  display: block;
} */

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 18px 25px 0;
  border-bottom: 1px solid var(--border-sidebar);
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .wrapper > .title {
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item {
  width: 100%;
  height: 50px;
  list-style: none;
  transition: 200ms;
  cursor: pointer;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item > .wrapper {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item > .wrapper > .context {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item > .wrapper > .context > .title {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  align-self: center;
}

:is(
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item:hover,
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item:active
) > .wrapper {
  background-color: var(--item-bg-selected-sidebar-sub-sub-menu);
}

:is(
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item:hover,
  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .sub-sub-menu > .sub-sub-menu-item:active
) > .wrapper > .context > :where(.title, .badge){
  font-weight: 400;
  transition: font-weight 0s ease;
  color: var(--item-text) !important;
}

/* .sidebar > .menu > .menu-item > .sub-sidebar {
  display: block;
}

.sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar {
  display: block;
} */

.menu-setIcons {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #d6d6d6;
}


.icon-hamburger {
  width: 60px;
  height: 60px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ec111a;
  cursor: pointer;
}

.icon-hamburger > .line {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #ffffff;
}

.menu-open {
  display: unset;
}

.back-arrow-sub-menu {
  width: 18px;
  height: 18px;
}

.close-sub-menu {
  width: 12px;
  height: 12px;
}

@media (min-width: 992px) {
  .icon-hamburger {
    display: none;
  }

  .sidebar {
    width: 294px;
    display: unset;
    padding: 20px 0px 20px 60px;
    top: 0;
  }

  .sidebar > .menu > .menu-item:first-child {
    display: list-item;
  }

  .sidebar > .menu > .menu-item > .wrapper > .context {
    width: 120px;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar {
    width: 275px;
    left: 294px;
    top: 0;
    border-radius: 0 10px 0 0;
  }

  .sidebar > .menu > .menu-item:hover > .sub-sidebar {
    display: block;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .wrapper {
    border: unset;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .wrapper > .title {
    font-size: 18px;
    font-weight: 700;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .wrapper > .context {
    width: 202px;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar {
    width: 295px;
    left: calc(294px + 275px);
    top: 0;
    padding: 70px 0 0 18px;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item:hover > .sub-sub-sidebar {
    display: block;
  }

  .sidebar > .menu > .menu-item > .sub-sidebar > .sub-menu > .sub-menu-item > .sub-sub-sidebar > .wrapper {
    display: none;
  }

  .back-arrow-sub-menu {
    display: none;
  }

  .close-sub-menu {
    display: none;
  }
}



